.outer {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .circle {
    margin: 70px auto;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-top-color: var(--text-color2);
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 480px) {
    .circle {
      width: 50px;
      height: 50px;
    }
  }